.menu {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.ico {
  width: 2rem;
  height: 2rem;
  display: none;
  transition: 1s linear;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.line {
  width: 100%;
  height: 2px;
  background: #e1e1e1;
  margin-top: 6px;
  transition: 0.2s linear;
}

.l1 {
  transform: rotateZ(45deg);
}

.nbtn {
  font-size: 1.2em;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.nbtn:focus,
.nbtn:hover {
  color: #feca57;
}

.nbtn:focus:after,
.nbtn:hover:after {
  width: 100%;
  left: 0%;
}

.nbtn:after {
  content: '';
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

@media (max-width: 400px) {
  .menu {
    display: none;
  }
  .re {
    width: 90%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    display: flex;
    background: #222f3e6c;
    font-size: 12px;
    flex-direction: column;
    height: 80vh;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    justify-content: space-evenly;
    animation: created .2s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  .ico {
    z-index: 21;
    position: fixed;
    display: block;
  }

  @keyframes created {
    from {
      height: 0vh;
    }
    to {
      height: 80vh;
    }
  }

}
